.contacts__header {
  font-style: normal;
  text-align: right;
  /*position: relative;*/
}

.contacts__header-phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
}
