.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  position: relative;
}

.socials__item--icon--telegram .socials__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -122px -66px;
  opacity: 0;
  transition: .3s;
}

.socials__item--icon--telegram .socials__link:hover:before {
  opacity: 1;
}

.socials__item--icon--telegram .socials__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -122px -10px;
  transition: .3s;
}

.socials__item--icon--telegram .socials__link:hover:after {
  background-position: -122px -10px;
  opacity: 0;
}


.socials__item--icon--vk .socials__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -66px -122px;
  opacity: 0;
  transition: .3s;
}

.socials__item--icon--vk .socials__link:hover:before {
  opacity: 1;
}

.socials__item--icon--vk .socials__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -10px -122px;
  transition: .3s;
}

.socials__item--icon--vk .socials__link:hover:after {
  background-position: -10px -122px;
  opacity: 0;
}


.socials__item--icon--fb .socials__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -66px -10px;
  opacity: 0;
  transition: .3s;
}

.socials__item--icon--fb .socials__link:hover:before {
  opacity: 1;
}

.socials__item--icon--fb .socials__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -10px -10px;
  transition: .3s;
}

.socials__item--icon--fb .socials__link:hover:after {
  background-position: -10px -10px;
  opacity: 0;
}


.socials__item--icon--insta .socials__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -66px -66px;
  opacity: 0;
  transition: .3s;
}

.socials__item--icon--insta .socials__link:hover:before {
  opacity: 1;
}

.socials__item--icon--insta .socials__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; height: 36px;
  background: url("../../images/icons/sprite.png") -10px -66px;
  transition: .3s;
}

.socials__item--icon--insta .socials__link:hover:after {
  background-position: -10px -66px;
  opacity: 0;
}
