.preview__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.20;
  margin-bottom: 15.5px;
  text-align: center;
}

.options__title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 15px;
}

.section__title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 51px;
}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.about__title {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 37px;
  color: #000000;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 22px;
  color: #000000;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: 800;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 67px;
  margin-top: 30px;
}

.inner-section__title {
  font-size: 36px;
  font-weight: 800;
}

.review__title {
  font-size: 30px;
  color: #202020;
  font-weight: bold;
  margin-bottom: 23px;
}

.form__controls-title {
  width: 33%;
  padding-left: 0px;
  font-size: 18px;
}